[package]
name = "from_be_bytes_reduce"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
honggfuzz = "*"
acir_field = { path = "../../../../acvm/acir_field" }
